<div class="wrapper">
	<h1><span class="glyphicon glyphicon-share"></span> Export Customers</h1>
	<hr/>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav">
	      <li><%= link_to '<span class="glyphicon glyphicon-th-list"></span> List'.html_safe, customers_path %></li>
	      <li><%= link_to '<span class="glyphicon glyphicon-plus"></span> Add new'.html_safe, new_customer_path %></li>
	      <li class="active"><%= link_to '<span class="glyphicon glyphicon-share"></span> Export'.html_safe, export_path %></li>
	    </ul>
	  </div>
	</nav>
	<h1>Export page</h1>
</div>